table {
  width: 100%;
}

.color_green { color: #009600; }
.color_red { color: #ff0000; }
.color_yellow { color: #dbd80e; }
.color_black { color: #000000; }

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}


.styled-table {
  border-collapse: collapse;
  margin: 1px 0px 0px 0px;
  font-size: 0.9em;
  font-family: sans-serif;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  
}

.styled-table thead th {
  text-align: center;
  font-weight: bold;
}

.styled-table thead tr {
  text-align: center;
}

.styled-table tfoot tr td {
  text-align: left;
  font-size: 1.4em;
}
.styled-table tfoot tr th {
  text-align: center;
  font-size: 1.4em;
}

.styled-table th,
.styled-table td {
    padding: 2px 1px;
    text-align: center;
}

.styled-table tbody tr {
  border-top: 1px solid #ffffff;
}

.selected {
  font-weight: bold;
  background-color: darkkhaki;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.xxxstyled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0a0f0e;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}