Total Fantasy Points: {{roster.points}}

<table>
  <tr>
    <td *ngFor="let position of positions" align="center">{{position}}</td>
  </tr>
  <tr>
  <td *ngFor="let position of positions" valign="top">
    <table class="styled-table">
      <tbody>
      <tr *ngFor="let player of playerPool.get(position)" [ngStyle]="{'background-color': (roster.contains(player)) ? '#73c7af' : '#ffffff'}" (click)="roster.toggle(player)">
        <td>
          {{player.name}}
        </td>
        <td>{{player.team}}</td>
        <td>{{player.points}}</td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
</table>